<div class="container main-container">
    <h1>Demos <small>angular</small></h1>
    <hr>
    <app-ng-style></app-ng-style>
    <app-ng-class></app-ng-class>
  
    <p [appResaltado]="'red'">prueba directivas propias</p>
  
    <app-ng-switch></app-ng-switch>
  </div>
  