<p [style.fontSize.px] = "tamano">
  Esta es una etiqueta
</p>
<button class="btn btn-primary m-2" (click)="aumentarTamano()" > + </button>
<button class="btn btn-primary m-2" (click)="disminuirTamano()"> - </button>