<div  [ngClass]="clase" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button class="btn btn-success m-1" (click)="clase = 'alert-success'">click</button>
<button class="btn btn-info m-1" (click)="clase = 'alert-info'">click</button>
<button class="btn btn-secondary m-1" (click)="clase = 'alert-secondary'">click</button>

<h3 [ngClass]=" {'text-danger' : conditionNgClass, 'text-info' : !conditionNgClass}">
  ngClass condicional
</h3>
<button class="btn btn-success" (click)="conditionNgClass = !conditionNgClass">Cambiar condicion</button>

<br><br>
<h3>Proceso async</h3>
<button [ngClass]="{'disabled':loading}" class="btn btn-info" (click)="ejecutarAsync()" >
  <i [ngClass]="{'fa-save' : !loading, 'fa-sync fa-spin': loading}" class="fa"></i> 
  <span *ngIf="!loading"> Guardar cambios</span>
  <span *ngIf="loading"> Espere porfavor</span>
</button>